.hero-section {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;

  .text-container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60%;
    text-align: left;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .button-style {
    background: linear-gradient(45deg, #cc66ff, #3399ff);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
  }
}

.empty-preview-message {
  text-align: center;
  color: #888;
  font-size: 1.2rem;
  margin-top: 2rem;
}
