/* _addhomesection.scss */

.add-home-section-container {
  padding: 2rem;

  @media (max-width: 768px) {
    padding: 1rem;
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .image-preview-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
    }

    .image-preview {
      position: relative;
      width: 130px; /* Default smaller size */
      height: 130px;
      overflow: hidden;
      border-radius: 5px; // Optional: adds rounded corners for a polished look

      @media (min-width: 768px) {
        width: 100px; /* Medium size for tablet and up */
        height: 100px;
      }

      @media (min-width: 1024px) {
        width: 120px; /* Full size for desktop */
        height: 120px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .input-box {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
        font-weight: bold;
        margin-bottom: 0.2rem;
        margin-top: 1rem;
      }

      input,
      textarea,
      select {
        /* Include select here for unified styling */
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
      }

      textarea {
        resize: vertical;
        min-height: 80px;
      }
    }

    .testimonial-item {
      h4 {
        margin-top: 0.5rem;
      }
    }

    .preview-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 1rem;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f9f9f9;
      text-align: center;

      img {
        width: 80px; /* Adjust image width for mobile view */
        height: 80px;
        object-fit: cover;
        border-radius: 5px;

        @media (min-width: 768px) {
          width: 100px; /* Medium size for tablet */
        }

        @media (min-width: 1024px) {
          width: 120px; /* Larger size for desktop */
        }
      }
    }

    // Combobox (Select) Styles
    select {
      font-size: 1.1rem;
      padding: 0.6rem;
      border-radius: 4px;
      border: 1px solid #ccc;
      width: 100%; /* Ensure it takes full width */

      &:focus {
        outline: none;
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }
  }

  // Success and Error Message
  .message-box {
    margin-top: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    background-color: #d4edda; /* Light green background */
    color: #155724; /* Dark green text */
    border: 1px solid #c3e6cb; /* Green border */

    &.success {
      background-color: #d4edda;
      color: #155724;
      border: 1px solid #c3e6cb;
    }

    &.error {
      background-color: #f8d7da; /* Light red background */
      color: #721c24; /* Dark red text */
      border: 1px solid #f5c6cb; /* Red border */
    }
  }
}
