.adoptable-pet-editor {
  > h2 {
    @include heading(3px);
    margin-bottom: 1rem;
  }

  .preview-container {
    margin-top: 1rem;
  }

  .image-preview-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .image-preview {
    position: relative;
    width: 100px; /* Reduced size for mobile */
    height: 100px;
    overflow: hidden;
    
    @media (min-width: 768px) {
      width: 120px; /* Normal size for desktop */
      height: 120px;
    }
  }

  .image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
  }

  .image-preview:hover img {
    transform: scale(1.05);
  }

  .preview-name {
    text-align: center;
    margin-top: 5px;
    font-size: 0.9rem;
  }

  .image-preview:hover .remove-btn {
    visibility: visible;
  }

  .input-field,
  .textarea-field {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .textarea-field {
    height: 100px;
    resize: none;
  }

  // Button alignment for mobile and desktop
  .upload-btn {
    margin-top: 15px;
    display: block;
    width: 100%;
    
    @media (min-width: 768px) {
      width: auto;
    }
  }

  .message {
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
  }

  .message.success {
    background-color: rgba(0, 255, 0, 0.1);
    color: green;
  }

  .message.error {
    background-color: rgba(255, 0, 0, 0.1);
    color: red;
  }
}
